!!!
%html(lang="ru")
  %head
    %meta{charset: 'utf-8'}
    = display_meta_tags site: title, reverse: true, description: @page_descriptione || meta_description, keywords: @page_keywords || meta_keywords
    %meta{ name: 'language', content: "Russian" }
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1"}
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/left_panel'
    = render 'layouts/body'
    = render 'layouts/footer'

